<<<<<<< HEAD
body {
    margin: 0;
    padding: 0;
    background-color: white;
    background-image: url('Imagenes_Aventura/Fondo\ gris.png');
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
=======
body {
    margin: 0;
    padding: 0;
    background-color: white;
    background-image: url('Imagenes_Aventura/Fondo\ gris.png');
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
>>>>>>> 33f8f5f5c7225ae1230017330e95a8fc93481054
}