body {
  font-family: 'Segoe UI', sans-serif;
  background: url('Images/cafe.png') no-repeat center center fixed;
  background-size: cover;
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
}

.menu-container {
  background: #f1c27d;
  width: 520px;
  padding: 25px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  border-radius: 10px;
}

h1 {
  font-size: 36px;
  margin: 0;
}

h2 {
  font-size: 28px;
  margin-top: 25px;
  color: #4b3b2b;
}

.divider {
  border: none;
  height: 4px;
  background-color: brown;
  margin: 15px 0;
}

.item-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.item-list li {
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
}

.icon {
  width: 55px;
  margin: 10px 0;
}

.contact {
  font-size: 0.85em;
  color: #a89a6e;
  margin-top: 25px;
}

a {
  color: darkorange;
  text-decoration: underline;
}

a:hover {
  color: orangered;
}
