body {
  font-family: sans-serif;
  background-image: url('Images/cafe.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.menu {
  background-color: #f1c27d;
  width: 500px;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: Arial, sans-serif;
  justify-content: center;
  align-items: center;
  font-size: 38px;
}

h2 {
  margin-top: 30px;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.line {
  border-top: 5px solid brown;
  margin: 10px 0;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.footer {
  font-size: 0.8em;
  margin-top: 20px;
  color: #a89a6e;
  justify-content: center;
  align-items: center;
}
a{
  color: orange;
  text-decoration: underline;
  justify-content: center;
  align-items: center;
}
a:hover {
  color: orangered;
  justify-content: center;
  align-items: center;
}

img{
  width: 50px;
}